@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Odibee+Sans&family=Oswald:wght@200;300;400;500;600;700&display=swap');

.App {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  height: 100vh;
  font-family: 'Odibee Sans';
  font-family: min(1.1rem, 1.3rem);
  position: relative;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(129deg, #664c13 0%, #bb1b1bd2 100%);
  color: yellow;
  padding: 0 1.2rem;
  margin: -1rem;
  position: static;
}

.project-header .project-name {
  font-size: max(1.2rem, 1.5rem, 1.8rem, 2.1rem);
  font-family: 'Koulen';
}

.create-task {
  background-color: #fff;
  min-height: 40px;
  width: 10rem;
  font-family: 'Odibee Sans';
  font-size: x-large;
  color: #210606;
  transition: all 400ms ease-in-out;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.create-task:hover {
  background-color: yellow;
  box-shadow: inset 2px 1px 1px #fff;
  transition: all 500ms ease-in-out;
}

.main-board {
  display: flex;
  justify-content: space-between;
  font-family: 'Koulen';
}

.main-board > * {
  border: 3px solid #210606;
  width: 50%;
  min-height: 100vh;
  max-height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin: -2px -5px;
  padding: 0 .3rem;
}

.create-modal {
  background-color: #885302;
  position: fixed;
  width: 50%;
  height:  calc(50% + 20vmin);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2rem 0;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.create-modal h1 {
  color: yellow;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  width: 75%;
}

.form > * {
  min-height: 30px;
  padding: .5rem 1rem;
  border: none;
  border-radius: 5px;
  color: #210606;
  font-family: 'Odibee Sans';
  font-size: max(1rem, 1.2rem, 1.5rem);
}

.form button {
  background-color: yellow;
  color: #210606;
  cursor: pointer;
  transition: all 300ms ease;
}

.form button:hover {
  background-color: #210606;
  color: yellow;
  transition: all 300ms ease;
}

.unstarted-tasks, .pending-tasks, .completed-tasks {
  background-color: hsla(41, 69%, 24%, 0.582);
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: .6rem;
  align-items: center;
  padding: 1.2rem;
}

.tasks * {
  margin: 0;
}

.task {
  display: flex;
  flex-direction: column;
  gap: .2rem;
  background-color: #1b1204;
  color: #210606;
  padding: .6rem .3rem;
  border-radius: 5px;
  width: 100%;
}

.task .task-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 5px double yellow;
  /* margin: .7rem 0; */
}

.task .task-title h3 {
  font-size: 1.2rem;
  color: yellow;
}

.task .task-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.task .task-info .task-desc {
  color: white;
  font-family: cursive;
  font-size: .8rem;
}

.task-info .task-datetime {
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.task-datetime p {
  color: #fff;
  font-family: monospace;
  font-size: .55rem;
  background-color: #885302;
  padding: .1rem .3rem;
  align-self: center;
  text-overflow: ellipsis;
  border-radius: 5px;
}

.task .task-title span {
  color: #123232;
  align-self: flex-end;
  padding: 0 1rem;
  margin: 0 0 .1rem;
}

.unstarted-tasks span {
  background-color: rgba(230, 88, 88, 0.938);
}

.pending-tasks span {
  background-color: rgba(230, 221, 88, 0.938);
}

.completed-tasks span {
  background-color: rgba(112, 230, 88, 0.938);
}

strong {
  background-color: rgba(18, 50, 50, 0.78);
}

.no-task {
  font-size: xx-large;
  color: #1b1204;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}